doctype html
html
  head
    title City
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans') 
    link(rel='stylesheet', href='../css/country_style.css')
    script(src='../js/jquery-3.1.0.js', defer='')
    script(src='../js/post.js', defer='')
    link(rel='stylesheet', href='../css/w3.css')
    link(rel='stylesheet', href='../css/w3-theme-teal.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css')

  #wrap
    body#entity
      nav.w3-top
        ul.w3-navbar.w3-theme-d2.w3-left-align.w3-large
          li
            a.w3-padding-large.w3-hover-white(href='#')
              i.fa.fa-home
          li
            a.w3-padding-large.w3-hover-white(href='#', title='Account Settings')
              i.fa.fa-user
          li.w3-hide-small
            a.w3-padding-large.w3-hover-white(href='#', title='Inbox')
              i.fa.fa-envelope
          li.w3-hide-small
            a.w3-padding-large.w3-hover-white(href='#', title='Notifications')
              i.fa.fa-bell
          li.w3-hide-small
            a.w3-padding-large.w3-hover-white(href='#', title='Admin Panel')
              i.fa.fa-eye
          li.w3-hide-small.w3-right
            a.w3-padding-large.w3-hover-white(href='#', title='My Account')
              img.w3-circle.avatar(src='../assets/images/avatar.jpg', alt='Avatar')
      #product_page
        #product_title= city_info.name+', '+city_info.country_name
        #product_image
          each val, index in main_images
            img.slide_image(src= val, alt='')
          
          a#left_slide_button(onclick='plusDivs(-1)') &lt;
          |  
          a#right_slide_button.slide_button(onclick='plusDivs(1)') &gt;
        #product_info
          #product_info_text
            h1 Description
            table
              tr
                td City:
                td
                  a(href='') Londan
                  |  
                  a(href='') Show in map
              tr
                td Country:
                td
                  a(href='') England
              tr
                td Rating:
                td
                  a(href='') &starf;&starf;&starf;&starf;&star;
              tr
                td Place Type:
                td City
              tr
                td Population:
                td 8,673,713
              tr
                td Time Zone:
                td GMT
        #attractions
          h1 Attractions
            each val, index in attraction_images
              .attraction_image
                img(src= index, alt='')
                span= val
          |  
          a#left_attraction_button(onclick='plusDivsAtrraction(-1)') &lt;
          |  
          a#right_attraction_button.attraction_button(onclick='plusDivsAttraction(1)') &gt;
        #product_rating
          h1 Travelling Experience
          #product_rating_text
            span Overall Rating: &starf;&starf;&starf;&starf;&star;
            br
            |  
            textarea#review_box(name='comment', cols='30', rows='10', form='review_submission') Type your travellng experience in this city here
            |  
            span Rate this city (1-5):
            |  
            form#review_submission(action='', method='post')
              input(type='number', name='rating', min='1', max='5')
              br
              input(type='submit', value='Submit')
            #customer_rating
              h2 Other ratings
              #customer_rating_text
                each val, index in ratings
                  .customer_rating
                  span.comment_username
                    a(href='')= val.username

                  span.comment_rating= 'Rating: '+val.rating
                  span.comment_date= val.date_rated
                  .comment= val.comments

        #recommendation
          h1 Related Post
          #related_product_list
            a(href='')
              .related_product
                img(src='../assets/images/related_product_1.jpg', alt='')
                |  
                span.related_product_title Looking for a tour guide in London, UK
            a(href='')
              .related_product
                img(src='../assets/images/related_product_2.jpg', alt='')
                |  
                span.related_product_title Offering tour in England
            a(href='')
              .related_product
                img(src='../assets/images/related_product_3.png', alt='')
                |  
                span.related_product_title Partner to travel with
        footer
          section.w3-container.w3-theme-d3.w3-padding-16
            section.w3-content
              article.w3-container.w3-third
                h5.w3-border-green Company
                p About
                p Careers
                p Policies
                p Terms and Conditions
                p Privacy
              article.w3-container.w3-third
                h5 Discover
                p Safety
                p Business Travel
                p Sitemap
              diarticlev.w3-container.w3-third
                h5 Guiding
                p Why guiding
                p Hospitality
                p Responsibilities
          section.w3-container.w3-theme-d5
            p Copyright &copy; 2016 Wanderland Inc. All rights reserved.

