doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title= Index
        link(rel="stylesheet", href="style.css", type="text/css")
        link(rel='stylesheet', href='assets/js/jquery-ui/jquery-ui.css', type='text/css')
        script(src="jquery-3.1.0.js", defer)
        script(src="index_script.js", defer)
        script(type='text/javascript', src='assets/js/jquery-ui/jquery-ui.js')

    body
        section(class="body-wrap")
            header
                a(id="Help" href="#") Help
                button(id="Log-In" onclick="show_login_pop()") Log In/Sign Up
            main(id="root-content")
                section(id="pop-wrap" style=errors.status)
                    section(id="login-pop")
                        section(class="login-box span12")
                            button(class="close_pop" onclick="close_login_pop()") [close]
                            section(id="inputField" class="old span3")
                                form(class="existing" action="/account" method="post")
                                    section(class="span12 text-center")
                                        h3(id="inputField") Login
                                    section(id="inputField" class="span12")
                                        label(for="email" class="inputField") Email address
                                            input(id="emailEx" class="m_b_10x" type="email" name ="email" placeholder="Enter your email")
                                            span(class="error")=errors.error_email
                                            </br>
                                        label(id="inputField" for="password" class="m_b_10x") Password
                                        input(id="passwordEx" class="inputField m_b_10x" type="password" name="password")
                                    section(class="span12 text-center")
                                        a(id="inputField" class="hover underlined" href="#") Forgot your password?
                                    section(class="span12 text-center")
                                        input(id="existingClient" class="button" type="button" value="Login")
                                section(class="middle-wall")
                            section(id="inputField" class="new span3")
                                form(class="newmember" action="signup" method="post")
                                    section(class="span12 text-center")
                                        h3(class="inputField") Sign Up
                                    section(id="inputField" class="span12 m_b_10x")
                                        label(class="inputField" for="username") Username
                                            input(id="usernameNew" class="inputField" type="text" name ="username" placeholder="Choose a Username")
                                            span(class="error")=errors.error_username
                                            </br>
                                    section(id="inputField" class="span12 m_b_10x")
                                        label(class="inputField" for="email" id="m_b_30x") Email address
                                            input(id="emailNew" class="inputField" type="email" name ="emailNew" placeholder="Enter your email")
                                            span(class="error")=errors.error_emailNew
                                            </br>
                                    section(id="inputField" class="span12 m_b_10x")
                                        label(class="inputField" for="password") Password
                                        input(class="inputField" id="passwordNew" type="password" name="password")
                                    section(id="inputField" class="span12 m_b_10x")
                                        label(id="inputField" for="password") Confirm password
                                        input(id="passwordNewConfirm" class="inputField" type="password"  name="confirmpassword")
                                    section(id="passnew" class="span12")
                                    section(class="span12 text-center")
                                        input(id="newClient" class="button" type="button" value="Sign Up")
                section(id="main-contents" class="main-wrap")
                    section(class="main-background")
                        image(src="London_eye.jpg", class="background-image", alt="london picture")
                        image(src="Paris.jpg" class="background-image" alt="paris picture")
                        image(src="Beijing1.jpg", class="background-image", alt="beijing picture")
                    section(class="main-content text-center")
                        section(class="v-wrap")
                            section(class="v-center")
                                section(class="main-text")
                                    h2 Travel Anywhere
                                    h4 with Wanderland                                 
                        section.search-background
                          form(action='documents/result.html', method='post')
                            div
                              | I am looking for: 
                              select#post-type-bar(name='post-type-bar')
                                option(value='buddy') Looking for someone to travel with
                                option(value='guide') Looking for a tour guide
                            div
                              | From: 
                              input#from-date.datepicker(type='text', name='from-date', value='what day')
                            div
                              | To: 
                              input#to-date.datepicker(type='text', name='to-date', value='what day')
                            div
                              | From: 
                              input#from-city.city-field(type='text', name='from-city', value='what city')
                            div
                              | To: 
                              input#to-city.city-field(type='text', name='to-city', value='what city')
                            |  
                            button.button(value='search')
                              i.w3-large.fa.fa-search(3='')

