doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="google-signin-client_id" content="541812798719-dg2tn8dqj5skgu9kqg5jpb3g7hdu9ip0.apps.googleusercontent.com")

        title= Index
        link(rel='stylesheet', href='js/jquery-ui/jquery-ui.css')
        link(rel="stylesheet", href="css/index.css")
        script(src="https://apis.google.com/js/platform.js" async defer)
        script(src="js/jquery-3.1.0.js")
        script(src="js/index.js")
        script(src='js/jquery-ui/jquery-ui.js')
        script(src='js/typeahead.min.js')
        script.
          $( function() {
          $( ".datepicker" ).datepicker({dateFormat: 'yy-mm-dd'});
          } );

    body
        section(class="body-wrap")
            header
                a(id="Log-In" href="#" onclick="show_login_pop()") Log In/Sign Up                
            main(id="root-content")
                section(id="pop-wrap" style=errors.status)
                    section(id="login-pop")
                        section(class="login-box span12")
                            button(class="close_pop" onclick="close_login_pop()") [close]
                            section(id="inputField" class="old span3")
                                form(class="existing" method="post")
                                    section(class="span12 text-center")
                                        h3(id="inputField") Login
                                    section(id="inputField" class="span12")
                                        label(for="email" class="inputField") Email address
                                            input(id="emailEx" class="m_b_10x" type="email" name ="email" placeholder="Enter your email")
                                            span(class="error")=errors.error_email
                                            </br>
                                        label(id="inputField" for="password" class="m_b_10x") Password
                                        input(id="passwordEx" class="inputField m_b_10x" type="password" name="password")
                                    section(class="span12 text-center")
                                       div(class="g-signin2" data-onsuccess="onSignIn" data-theme="dark")

                                    section(class="span12 text-center")
                                        input(id="existingClient" class="button" type="button" value="Login")
                                section(class="middle-wall")
                            section(id="inputField" class="new span3")
                                form(class="newmember" action="signup" method="post")
                                    section(class="span12 text-center")
                                        h3(class="inputField") Sign Up
                                    section(id="inputField" class="span12 m_b_10x")
                                        label(class="inputField" for="username") Username
                                            input(id="usernameNew" class="inputField" type="text" name ="username" placeholder="Choose a Username")
                                            span(class="error")=errors.error_username
                                            </br>
                                    section(id="inputField" class="span12 m_b_10x")
                                        label(class="inputField" for="email" id="m_b_30x") Email address
                                            input(id="emailNew" class="inputField" type="email" name ="emailNew" placeholder="Enter your email")
                                            span(class="error")=errors.error_emailNew
                                            </br>
                                    section(id="inputField" class="span12 m_b_10x")
                                        label(class="inputField" for="password") Password
                                        input(class="inputField" id="passwordNew" type="password" name="password")
                                    section(id="inputField" class="span12 m_b_10x")
                                        label(id="inputField6" for="password") Confirm password
                                        input(id="passwordNewConfirm" class="inputField" type="password"  name="confirmpassword")
                                    section(id="passnew" class="span12")
                                    section(class="span12 text-center")
                                        input(id="newClient" class="button" type="button" value="Sign Up")
                section(id="main-contents" class="main-wrap")
                    section(class="main-background")
                        image(src="img/london_eye.jpg", class="background-image", alt="london picture")
                        image(src="img/paris.jpg" class="background-image" alt="paris picture")
                        image(src="img/beijing1.jpg", class="background-image", alt="beijing picture")
                    section(class="main-content text-center")
                        section(class="v-wrap")
                            section(class="v-center")
                                section(class="main-text")
                                    h2 Travel Anywhere
                                    h4 with Wanderland
                        section.search-background
                            //form(action='http://127.0.0.1:1337/result', method='post')
                            form(action='https://wander-land.herokuapp.com/result', method='post')
                                input(type="hidden" name="_csrf" value="{{csrfToken}}")
                                div
                                  | I am looking for:
                                  select#post-type-bar(name='post_type')
                                    option(value='buddy') Looking for someone to travel with
                                    option(value='offer_guide') Looking for a tour guide
                                div
                                  | From:
                                  input#from-date.datepicker(type='text', name='from_date', value='what day')
                                div
                                  | To:
                                  input#to-date.datepicker(type='text', name='to_date', value='what day')
                                div
                                  | From:
                                  input#from-city.city-field(type='text', name='from_city', value='what city', spellcheck='false', autocomplete='off')
                                div
                                  | To:
                                  input#to-city.city-field(type='text', name='to_city', value='what city', spellcheck='false', autocomplete='off')
                                button.button(value='search')
                                  i.w3-large.fa.fa-search(3='')
