html(lang="en")
	head
		title This is title

	body(text='red')
		table
			tr
				td.
					Username: 
				td= result.username
			tr
				td.
					Post date:
				td= result.post_date
			tr
				td.
					Post Type:
				td= result.post_type
			tr
				td.
					Start date:
				td= result.travel_start_date
			tr
				td.
					End date:
				td= result.travel_end_date
			tr
				td.
					Way to travel:
				td= result.way_of_travelling