doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title= pageTitle
        link(rel="stylesheet", href="css/profile.css")
        script(src="js/jquery-3.1.0.js", defer)
        script(src="js/profile.js", defer)
        script(src="js/admin.js", defer)
        //script(src="js/viewusr.js", defer)
    body
        //ul
            //if results == '-1'
              //  li user not available
            //else 
              //  for result in results
        main(id=type)
            section(class="top-nav bdb-lg")
                div
                    
                    form(class="anchor-wrap flt_r w30p" action="/logout" method="get")
                        //button(type="submit" value="logout" class="flt_r logoButton")= "(" + logout ")"
                        //div(class="anchor-wrap")
                        input(type="submit" class="flt_r m_l_5" id="logoutButton" value="logout")
                    form(action="/profile" method="get")
                        div(class="back")
                            input(type="submit" class="main-title" value="signed as " + results[0].username)
                    
                

                

            section(class="main-wrap")
                section(class="main-nav bdb-lg h100") 
                    div(class="main-nav-button-wrap vert-cent")
                        div(id="account" class="main-nav-button selected")
                            a(id="nav1" href="#")
                                span(class="nav-title") Account Settings                                 
                        div(id="personal" class="main-nav-button m_l_r_10")
                            a(id="nav2" href="#")
                                span(class="nav-title") Personal Information                        
                        if results[0].is_admin
                            div(id="manageUser" class="main-nav-button m_l_r_10")
                                a(id="nav3" href="#")
                                    span(class="nav-title") Manage User
                            div(id="manageData" class="main-nav-button m_l_r_10")
                                a(id="nav4" href="#")
                                    span(class="nav-title") Manage Database
                        else
                            div(id="friends-list" class="main-nav-button")
                                a(id="nav3" href="#")
                                    span(class="nav-title") My Friends
                            div(id="view-request" class="main-nav-button")
                                a(id="nav4" href="#")
                                    span(class="nav-title")="View friends request"

                ul(id="account-settings" class="profile-info selected")
                    li(id="profile-manage" class="bdb-lg profile-contents")
                        section(class="container-content")
                            section(class="content-key")
                                span(class="sub-title") My Profile 
                                span(class="sub-description") some description.... 
                            
                            section(class="content-value")
                                div(class="picture")
                                    img(class="profile_pic" src=pic)                        
                                div(class="acc-info") 
                                    div(class="perma")
                                        label(class="profile-label") Username
                                        div(class="username-container") 
                                            span(class="username-field")=results[0].username
                                    div(class="edit-profile")
                                        div(class="email mt10")
                                            form
                                                div(class="edite-zone")
                                                    label(class="profile-label") Email Address 
                                                    section(class="edit-box e1")
                                                        div(class="edit-disable" id="ed1")
                                                            span(class="email-value edit-line" id="email-attr")=results[0].email
                                                            span(class="edit-icon")
                                                                img(src="img/edit_icon.png" class="edit-img" id="edit-button1")
                                                            
                                        span(class="error" id="newEmailError")=errors.error_emailNew


                                        
                                                           
                                        div(class="fullname mt10")
                                            form
                                                div(class="edite-zone")
                                                    label(class="profile-label") Name
                                                    section(class="edit-box e2") 
                                                        div(class="edit-disable")
                                                            if results[0].first_name != NULL
                                                                span(class="name-value edit-line")=results[0].first_name + " " + results[0].last_name 
                                                            else
                                                                span(class="name-value edit-line")
                                                            span(class="edit-icon")
                                                                img(src="img/edit_icon.png" class="edit-img" id="edit-button2")

                                        span(class="error" id="newNameError")=errors.error_newNameValue
                                                            
                                        div(class="avatar mt10")
                                            form(action="/file-upload" method="post" enctype="multipart/form-data")
                                                label(class="profile-label") Change Profile Picture 
                                                section(class="file-section mt10")
                                                    input(class="bdb-lg bp10"  type="file" name="avatar")
                                                    input( type="submit")
                                                    //div(class="mt10")
                                                        //input(class="button" type="submit" value="Upload")

                    li(id="password-manage" class="bdb-lg profile-contents")
                        section(class="container-content")
                            section(class="content-key")
                                span(class="sub-title") Password
                                span(class="sub-description") some description.... 
                            
                            section(class="content-value")
                                div(class="edit-password")
                                    form(action="updatePassword" method="post")
                                        section(class="m_b_15")
                                            label(class="profile-label") Current Password
                                            div(class="edit-box")
                                                input(type="password" name="cpassword" id="cpw")

                                        section(class="m_b_15")
                                            label(class="profile-label") New Password
                                            div(class="edit-box")
                                                input(type="password" name="npassword" id="npw")

                                        section(class="confirm-pw m_b_15")
                                            label(class="profile-label") Confirm New Password
                                            div(class="edit-box")
                                                input(type="password" name="ncpassword" id="ncpw")
                                        span(class="error pw")
                                        span(class="error")=errors.error_npw

                                        div(class="mt10")
                                            input(id="updatePW" class="button" type="submit" disabled = "true" value="UPDATE")





                    li(id="two-factor-manage" class="bdb-lg profile-contents")
                        section(class="container-content")
                            section(class="content-key")
                                span(class="sub-title") Two-factor Authentication
                                span(class="sub-description") some description.... 
                            
                            section(class="content-value")

                    li(id="privacy-manage" class="bdb-lg profile-contents")
                        section(class="container-content")
                            section(class="content-key")
                                span(class="sub-title") Privacy Settings
                                span(class="sub-description") some description.... 
                            
                            section(class="content-value")
                
                ul(id="personal-info" class="profile-info")
                    li(class="profile-contents")
                        section(class="container-content bdb-lg")
                            section(class="content-key")
                                span(class="sub-title") Personal Information 
                                span(class="sub-description") some description.... 
                            
                            section(class="content-value")                       
                                div(class="info-content") 
                                    div(class="edit-info")
                                        div(class="contact mt10")
                                            form
                                                div(class="edite-zone")
                                                    div(class="mb20")
                                                        label(class="profile-label") Current Address
                                                        section(class="edit-box e3")
                                                            div(class="edit-disable")
                                                                span(id="addr-val" class="address-value edit-line")=results[0].city + ", " + results[0].country
                                                                span(class="edit-icon")
                                                                    img(src="img/edit_icon.png" class="edit-img" id="edit-button3")

                                                    div(class="mb20")
                                                        label(class="profile-label") Phone Number
                                                        section(class="edit-box e4")
                                                            div(class="edit-disable")
                                                                span(id="phone-val" class="address-value edit-line")=results[0].phone_num
                                                                span(class="edit-icon")
                                                                    img(src="img/edit_icon.png" class="edit-img" id="edit-button4")

                                                    div(class="mb20")
                                                        label(class="profile-label") Date of Birth
                                                        section(class="edit-box e5")
                                                            div(class="edit-disable")
                                                                span(id="dob-val" class="address-value edit-line")=results[0].date_of_birth
                                                                span(class="edit-icon")
                                                                    img(src="img/edit_icon.png" class="edit-img" id="edit-button5")

                                                    div(class="mb20")
                                                        label(class="profile-label") Gender
                                                        section(class="edit-box e6")
                                                            div(class="edit-disable")                                                                
                                                                if results[0].gender == 'm'
                                                                    span(id="gender-val" class="address-value edit-line") Male
                                                                else if results[0].gender == 'f'
                                                                    span(id="gender-val" class="address-value edit-line") Female
                                                                else
                                                                    span(id="gender-val" class="address-value edit-line") Other
                                                                span(class="edit-icon")
                                                                    img(src="img/edit_icon.png" class="edit-img" id="edit-button6")

                                                    div(class="mb20")
                                                        label(class="profile-label") Date Joined Wanderland
                                                        section(class="non-edit")
                                                            div(class="non-edit")
                                                                span(class="address-value edit-line")=results[0].date_joined
                                                                

                                                    
                                                    div(class="mb20")
                                                        label(class="profile-label") Description of myself
                                                        section(class="edit-box e7")
                                                            div(class="edit-disable")
                                                                p(id="desc-val" class="address-value bdb_lg")
                                                                    span(class="descval edit-line")=results[0].description

                                                                    span(class="edit-icon")
                                                                        img(src="img/edit_icon.png" class="edit-img" id="edit-button7")

                                                    span(class="error" id="newDescError")=errors.error_newDescValue
                                                    
                if results[0].is_admin
                    ul(id="manusr" class="profile-info")
                        li(class="profile-contents")
                            section(class="container-content bdb-lg")
                                section(class="content-key")
                                    span(class="sub-title") Update an account
                                    span(class="sub-description") Update information of an exisiting user

                                section(class="content-value")
                                    div(class="acc-info")
                                        div(id="resultArea")
                                            div(class="perma" id="resultBox")
                                                label(class="profile-label") Email address
                                                div(class="username-container")
                                                    input(type="text" placeholder="Enter email address of an existing user" name="findEmail" id="inputEmail")
                                                    //span(class="username-field")
                                                    input(type="button" value="find user!" id="findUsr")




                        li(class="profile-contents")
                            section(class="container-content bdb-lg")
                                section(class="content-key")
                                    span(class="sub-title") Create an account 
                                    span(class="sub-description") Add a new user to the database


                                section(class="content-value")
                                    form
                                        div(class="acc-info") 
                                            
                                                label(class="profile-label") Username
                                                div(class="username-container")
                                                    input(type="text" placeholder="username"  name="newACCusername")
                                        
                                            
                                                label(class="profile-label") Email address
                                                div(class="username-container")
                                                    input(type="text" placeholder="email"  name="newACCemail")
                                        
                                            
                                                label(class="profile-label") Password
                                                div(class="username-container")
                                                    input(type="text" placeholder="password"  name="newACCpass")
                                        
                                           
                                                label(class="profile-label") First name
                                                div(class="username-container")
                                                    input(type="text" placeholder="first name" name="newACCfname")
                                        
                                           
                                                label(class="profile-label") Last name
                                                div(class="username-container")
                                                    input(type="text" placeholder="last name" name="newACClname")
                                        
                                            
                                                input(type="submit" value="create!" id="createUsr")


                                               

                        li(class="profile-contents")
                            section(class="container-content bdb-lg")
                                section(class="content-key")
                                    span(class="sub-title") Remove an account
                                    span(class="sub-description") Delete a new user from the database

                                section(class="content-value")                       
                                    div(class="acc-info") 
                                        div(class="perma")
                                            label(class="profile-label") Email address
                                            div(class="username-container")
                                                input(type="text" placeholder="Enter email address of an existing user" name="deleteEmail")
                                                input(type="button" value="Delete User" id="deleteUsr")

                    ul(id="mandata" class="profile-info")
                        li(class="profile-contents")
                            section(class="container-content bdb-lg")
                                section(class="content-key") 
                                    span(class="sub-title") data mgmt
                                    span(class="sub-description") Visit your friends profile!
                else
                    ul(id="friends" class="profile-info")
                        li(class="profile-contents")
                            section(class="container-content bdb-lg")
                                section(class="content-key")
                                    span(class="sub-title") Friends 
                                    span(class="sub-description") Visit your friends profile!

                                section(class="content-value")                       
                                    div(class="info-content")
                                        div(id="resultWrap")
                                            div(id="resultField")

                    ul(id="viewReq" class="profile-info")
                        li(class="profile-contents")
                            section(class="container-content bdb-lg")
                                section(class="content-key")
                                    span(class="sub-title") Friends Request
                                    span(class="sub-description") view friends requests from other users!

                                section(class="content-value")                       
                                    div(class="info-content")
                                        div(id="resultWrap2")
                                            div(id="resultField2")

                                            

                


