doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title= pageTitle
        link(rel="stylesheet", href="css/profile.css")
        script(src="js/jquery-3.1.0.js", defer)
        script(src="js/profile.js", defer)
        script(src="js/viewusr.js", defer)
    body
        main(id=type)
            section(class="top-nav bdb-lg")
                div
                    
                    form(class="anchor-wrap flt_r w30p" action="/logout" method="get")
                        //button(type="submit" value="logout" class="flt_r logoButton")= "(" + logout ")"
                        //div(class="anchor-wrap")
                        input(type="submit" class="flt_r m_l_5" id="logoutButton" value="logout")
                    form(action="/profile" method="get")
                        div(class="back")
                            input(type="submit" class="main-title" value="signed as " + type)

            section(class="main-wrap")
                section(class="main-nav bdb-lg h100") 
                    div(class="main-nav-button-wrap vert-cent")
                        div(id="account" class="main-nav-button selected")
                            a(id="nav1" href="#")
                                span(class="nav-title") Account Info                               
                        div(id="personal" class="main-nav-button m_l_r_10")
                            a(id="nav2" href="#")
                                span(class="nav-title") Personal Information                        
                        if results[0].is_admin
                            div(id="manageUser" class="main-nav-button m_l_r_10")
                                a(id="nav3" href="#")
                                    span(class="nav-title") Manage User
                            div(id="manageData" class="main-nav-button m_l_r_10")
                                a(id="nav4" href="#")
                                    span(class="nav-title") Manage Database
                        else
                            div(id="friends-list" class="main-nav-button")
                                a(id="nav3" href="#")
                                    span(class="nav-title")="Friends of " + results[0].username
                                    
                ul(id="account-settings" class="profile-info selected")
                    li(id="profile-manage" class="bdb-lg profile-contents")
                        section(class="container-content")
                            section(class="content-key")
                                span(class="sub-title") Account
                                br
                                span(class="friendship" id="haha")=friendship
                                div(class="reqLink")
                                //="Account Information for " + results[0].username 
                                
                            
                            section(class="content-value")
                                div(class="picture")
                                    img(class="profile_pic" src=pic)                        
                                div(class="acc-info") 
                                    div(class="perma")
                                        label(class="profile-label") Username
                                        div(class="username-container") 
                                            span(class="username-field")=results[0].username
                                    div(class="edit-profile")
                                        div(class="email mt10")
                                            form
                                                div(class="edite-zone")
                                                    label(class="profile-label") Email Address 
                                                    section(class="edit-box e1")
                                                        div(class="edit-disable" id="ed1")
                                                            span(class="email-value edit-line" id="email-attr")=results[0].email
                                                            


                                        
                                                           
                                        div(class="fullname mt10")
                                            form
                                                div(class="edite-zone")
                                                    label(class="profile-label") Name
                                                    section(class="edit-box e2") 
                                                        div(class="edit-disable")
                                                            if results[0].first_name != NULL
                                                                span(class="name-value edit-line")=results[0].first_name + " " + results[0].last_name 
                                                            else
                                                                span(class="name-value edit-line")
                            

                    
                
                ul(id="personal-info" class="profile-info")
                    li(class="profile-contents")
                        section(class="container-content bdb-lg")
                            section(class="content-key")
                                span(class="sub-title") Personal Information 
                                span(class="sub-description") some description.... 
                            
                            section(class="content-value")                       
                                div(class="info-content") 
                                    div(class="edit-info")
                                        div(class="contact mt10")
                                            form
                                                div(class="edite-zone")
                                                    div(class="mb20")
                                                        label(class="profile-label") Current Address
                                                        section(class="edit-box e3")
                                                            div(class="edit-disable")
                                                                span(id="addr-val" class="address-value edit-line")=results[0].city + ", " + results[0].country
                                                                

                                                    div(class="mb20")
                                                        label(class="profile-label") Phone Number
                                                        section(class="edit-box e4")
                                                            div(class="edit-disable")
                                                                span(id="phone-val" class="address-value edit-line")=results[0].phone_num
                                                                
                                                    div(class="mb20")
                                                        label(class="profile-label") Date of Birth
                                                        section(class="edit-box e5")
                                                            div(class="edit-disable")
                                                                span(id="dob-val" class="address-value edit-line")=results[0].date_of_birth
                                                                
                                                    div(class="mb20")
                                                        label(class="profile-label") Gender
                                                        section(class="edit-box e6")
                                                            div(class="edit-disable")                                                                
                                                                if results[0].gender == 'm'
                                                                    span(id="gender-val" class="address-value edit-line") Male
                                                                else if results[0].gender == 'f'
                                                                    span(id="gender-val" class="address-value edit-line") Female
                                                                else
                                                                    span(id="gender-val" class="address-value edit-line") Other
                                                                

                                                    div(class="mb20")
                                                        label(class="profile-label") Date Joined Wanderland
                                                        section(class="non-edit")
                                                            div(class="non-edit")
                                                                span(class="address-value edit-line")=results[0].date_joined
                                                                

                                                    
                                                    div(class="mb20")
                                                        label(class="profile-label") Description of myself
                                                        section(class="edit-box e7")
                                                            div(class="edit-disable")
                                                                p(id="desc-val" class="address-value bdb_lg")
                                                                    span(class="descval edit-line")=results[0].description

                                                                    

                                                  

                                                    

                ul(id="friends" class="profile-info")
                    li(class="profile-contents")
                        section(class="container-content bdb-lg")
                            section(class="content-key")
                                span(class="sub-title") Friends 
                                span(class="sub-description") Visit your friends profile!

                            section(class="content-value")                       
                                div(class="info-content")
                                    div(id="resultWrap")
                                        div(id="resultField")
                                            

                ul(id="manusr" class="profile-info")
                    li(class="profile-contents")
                        section(class="container-content bdb-lg")
                            section(class="content-key")
                                span(class="sub-title") usr mgmt 
                                span(class="sub-description") Visit your friends profile!

                ul(id="mandata" class="profile-info")
                    li(class="profile-contents")
                        section(class="container-content bdb-lg")
                            section(class="content-key") 
                                span(class="sub-title") data mgmt
                                span(class="sub-description") Visit your friends profile!